{{! Footer - Colons info }}
<div class="footer_informations_block container">
    <div class="footer_informations wrap">
        <div class="footer_information-1 col-3">
            <h6>Copyright {{date format="YYYY"}}, Troy Hunt</h6>
            <p>This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>. In other words, share generously but provide attribution.</p>
        </div>
        <div class="footer_information-2 col-3">
            <h6>Disclaimer</h6>
            <p>Opinions expressed here are my own and may not reflect those of people I work with, my mates, my wife, the kids etc. Unless I'm quoting someone, they're just my own views.</p>
        </div>
        <div class="footer_information-3 col-3">
            <h6>Published with Ghost</h6>
            <p>This site runs entirely on <a href="https://ghost.org/">Ghost</a> and is made possible thanks to their kind support. Read more about <a href="https://www.troyhunt.com/its-a-new-blog/">why I chose to use Ghost</a>.</p>
        </div>
    </div>
</div>
