{{! Footer - Subscription }}
<div class="footer_subscription_block container">
  <div class="footer_subscription wrap">
    <div class="footer_subscription_formGroup">
      <h4>Subscribe Now!</h4>
      <form name="subscribe_form" id="subscribe_form">
        <div id="new_subscription">
          <div id="subscribe_unsuccessful">
            <p>Uh oh, that didn't work. Try submitting it again.</p>
          </div>
          <input type="email" value="" name="subscribe_email" id="subscribe_email" placeholder="email address" required>
          <input type="submit" value="go!" id="submit_subscribe" />
        </div>
        <div id="confirm_captcha"><p>Hey, just quickly confirm you're not a robot:</p></div>
        <div id="subscribe_loading"><p><i class="fa fa-cog fa-spin" aria-hidden="true"></i> Submitting...</p></div>
        <div id="subscribe_successful"><p>Got it! Check your email, click the confirmation link I just sent you and we're done.</p></div>
      </form>
    </div>
  </div>
</div>