{{! Footer - Subscription }}
<div class="footer_subscription_block container">
    <div class="footer_subscription wrap">
        <div class="footer_subscription_formGroup">
            <div class="footer_subscription_name">
                <h4>Subscribe Now</h4>
            </div>
            <input type="text" class="footer_subscription_email">
            <a href="#" class="footer_subscription_send button">Sign up</a>
        </div>
    </div>
</div>