{{! Footer - Subscription }}

<div class="footer_block" id="floating_subscribe">
      <div class="footer">
        <a href="#subscribe" class="close_floating_subscribe">Subscribe <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        <div class="subscribe_close">
            <a href="#" class="close_floating_subscribe" onclick="return false;"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<div class="footer_subscription_block container">
  <div class="footer_subscription wrap">
    <div class="footer_subscription_formGroup">
      <a id="subscribe"></a>
      <h4>Subscribe Now!</h4>
      <form name="subscribe_form" id="subscribe_form">
        <div id="new_subscription">
          <div id="subscribe_unsuccessful"></div>
          <p>
            Send new blog posts:<br />
            <div class="radio_button_group"><input type="radio" name="email_cadence" id="Daily" value="Daily" checked> <label for="Daily">daily</label></div>
            <div class="radio_button_group"><input type="radio" name="email_cadence" id="Weekly" value="Weekly"> <label for="Weekly">weekly</label></div>
          </p>
          <input type="email" value="" name="email_to_subscribe" id="email_to_subscribe" placeholder="email address" required>
          <input type="submit" value="go!" id="submit_subscribe" />
        </div>
        <div id="confirm_captcha"><p>Hey, just quickly confirm you're not a robot:</p></div>
        <div id="subscribe_loading"><p><i class="fa fa-cog fa-spin" aria-hidden="true"></i> Submitting...</p></div>
        <div id="subscribe_successful"><p>Got it! Check your email, click the confirmation link I just sent you and we're done.</p></div>
      </form>
    </div>
  </div>
</div>