{{! Footer - Colons info }}
<div class="footer_informations_block container">
    <div class="footer_informations wrap">
        <div class="footer_information-1 col-3">
            <h6>legal</h6>
            <p>We’re celebrating the upcoming 2015 UX Immersion Mobile Conference by giving you the videos from the UXIM 2014 talks. Watch last year’s talks—no strings attached.</p>
        </div>
        <div class="footer_information-2 col-3">
            <h6>legal</h6>
            <p>We’re celebrating the upcoming 2015 UX Immersion Mobile Conference by giving you the videos from the UXIM 2014 talks. Watch last year’s talks—no strings attached.</p>
        </div>
        <div class="footer_information-3 col-3">
                <h6>legal</h6>
            <p>We’re celebrating the upcoming 2015 UX Immersion Mobile Conference by giving you the videos from the UXIM 2014 talks. Watch last year’s talks—no strings attached.</p>
        </div>
    </div>
</div>