{{! Footer - Subscription }}
<div class="footer_subscription_block container">
    <div class="footer_subscription wrap">
        <div class="footer_subscription_formGroup">
            <a href="https://ifttt.com/recipes/309649-send-me-an-email-when-troy-hunt-blogs">
                <h4>Subscribe Now!</h4>
            
            <p>Use this
            <img src="/assets/img/ifttt-logo.svg"" alt="IFTTT" />
            recipe to receive an email every time I blog</p></a>
        </div>
    </div>
</div>