{{! Footer - Subscription }}
<div class="footer_subscription_block container">
    <div class="footer_subscription wrap">
        <div class="footer_subscription_formGroup">
            <a href="https://ifttt.com/recipes/309649-send-me-an-email-when-troy-hunt-blogs">
                <h4>Subscribe Now!</h4>
            
            <p>Use this
            <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 83 22" style="enable-background:new 0 0 83 22;" xml:space="preserve"><style type="text/css">.st0{fill:#CCB285;}</style><rect id="rect7" class="st0" width="7" height="22"/><polygon class="st0" points="40,0 33,0 28,0 28,7 33,7 33,22 40,22 40,7 45,7 45,0 "/><polygon class="st0" points="59,0 52,0 47,0 47,7 52,7 52,22 59,22 59,7 64,7 64,0 "/><polygon class="st0" points="78,0 71,0 66,0 66,7 71,7 71,22 78,22 78,7 83,7 83,0 "/><polygon class="st0" points="26,7 26,0 17,0 10,0 10,7 10,9 10,16 10,22 17,22 17,16 23,16 23,9 17,9 17,7 "/></svg>
            recipe to receive an email every time I blog</p></a>
        </div>
    </div>
</div>