<div class="header_block container">
    <div class="header">
        <button class="header_navMenu_button i-menu" id="open-button"></button>
        {{navigation}}
        <div class="header_socialIcons light">
            {{> social-icons}}
        </div>
    </div>
</div>
<div class="message_of_support content">
    <p id="message_contents"><strong>Sponsored by:</strong> <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></p>
</div>