<div class="header_block no-cover container">
    <div class="header">
        <button class="header_navMenu_button i-menu" id="open-button"><span>Menu</span></button>
        <div class="header_logo">
            <a class="header_logo_name" href="{{@blog.url}}">{{@blog.title}}</a>
            <p class="header_logo_shortInfo">{{@blog.description}}</p>
        </div>
        <div class="header_socialIcons">
            {{> social-icons-black}}
        </div>
    </div>
</div>

{{navigation}}
