    <div class="header_block container">
        <div class="header">
            <button class="header_navMenu_button i-menu" id="open-button"></button>
            {{navigation}}
            <div class="header_socialIcons light">
                {{> social-icons}}
            </div>
        </div>
    </div>
