{{! White social icons }}
<ul>
    <li class="socialIcons_link">
        <a class="i-twitter" href=""></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-facebook" href=""></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-google" href=""></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-vk" href=""></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-instagram" href=""></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-pinterest" href=""></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-feed" href=""></a>
    </li>
</ul>