{{! Dark social icons }}
<ul>
    <li class="socialIcons_link">
        <a class="fa fa-twitter" href="https://twitter.com/troyhunt"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-facebook" href="https://www.facebook.com/troyahunt"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-google-plus" href="https://plus.google.com/+TroyHunt"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-linkedin" href="https://www.linkedin.com/in/troyhunt"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-youtube" href="https://www.youtube.com/user/troyhuntdotcom"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-rss" href="https://feeds.feedburner.com/TroyHunt"></a>
    </li>
</ul>