{{! Dark social icons }}
<ul>
    <li class="socialIcons_link">
        <a class="i-twitter-b" href=""></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-facebook-b" href=""></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-google-b" href=""></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-vk-b" href=""></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-instagram-b" href=""></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-pinterest-b" href=""></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-feed-b" href="{{@blog.url}}/rss/"></a>
    </li>
</ul>