
<nav class="tagsMenu container" role="navigation">
    <ul class="tagsMenu_list wrap">
        <li class="tagsMenu_link"><a class="active" href="{{@blog.url}}">Latest</a></li>
        <li class="tagsMenu_link"><a href="/tag/forest/">Forest</a></li>
        <li class="tagsMenu_link"><a href="/tag/Bear/">Bear</a></li>
        <li class="tagsMenu_link"><a href="/tag/Animals/">Animals</a></li>
        <li class="tagsMenu_link"><a href="/tag/Earth/">Earth</a></li>
    </ul>
</nav>
