body, html
{
  height: 100%;
}

*, :after, :before, pre
{
  box-sizing: border-box;
}

.container, .header, .post
{
  position: relative;
}

  .article-open:after, .article_feature_first-img:after, .article_readNext:after, .container:after, .profile:after, .wrap:after
  {
    clear: both;
  }

.button, .button-load, .navMenu_link, a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html
{
  line-height: 1;
  margin: 0;
  font-size: 13px;
  letter-spacing: .3px;
}

ol, ul
{
  list-style: none;
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.92308rem;
}

caption, td, th
{
  text-align: left;
  font-weight: 400;
  vertical-align: middle;
}

.caption, blockquote > p
{
  text-align: center;
}

blockquote, q
{
  quotes: none;
}

  blockquote:after, blockquote:before, q:after, q:before
  {
    content: "";
    content: none;
  }

a img
{
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary
{
  display: block;
}

body
{
  margin: 0;
  width: 100%;
  font-size: 100%;
  font-family: Vollkorn,Helvetica,Arial,sans-serif;
  color: #403d34;
  background-color: #fcfbf7;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a
{
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  color: #ccb285;
}

button, input, label, select, textarea
{
  font-family: Tahoma, Geneva, sans-serif;
  border: 0;
  color: #fcfbf7;
  background-color: #565246;
  outline: 0;
  webkit-appearance: button;
  cursor: pointer;
}

input, label, select, textarea
{
  padding: 12px 20px;
}

figure.img
{
  padding-bottom: 1.84615rem;
}

article img
{
  max-width: 100%;
  height: auto !important;
  width: auto !important;
}

address
{
  color: #eeedea;
}

  address a
  {
    padding-bottom: 3px;
    color: #cec9c4;
    border-bottom: 2px solid #847b79;
  }

blockquote, object, p
{
  padding-bottom: 1.84615rem;
}

#footer
{
  display: table-row;
  height: 1px;
}

.hidden
{
  display: none;
}

.button, .button-load, .navMenu_link, h1, h2, h3, h4, h5, h6
{
  margin-bottom: 1.84615rem;
  position: relative;
  line-height: 1.3em;
}

img + figcaption, p
{
  line-height: 1.5em;
}

h1
{
  margin-bottom: 10px;
  font-size: 3.385em;
}

h2
{
  margin-bottom: 1.47692rem;
  font-size: 2.5em;
}

h3
{
  font-size: 2.308em;
  margin-bottom: .92308rem;
}

@media (min-width:45.0625em)and (max-width:65em)
{
  h3
  {
    font-size: 2.125em;
  }
}

@media (min-width:0)and (max-width:45em)
{
  h2
  {
    font-size: 2em;
  }

  h3
  {
    font-size: 1.4em;
  }
}

h4
{
  font-size: 1.9em;
}

@media (min-width:0)and (max-width:25em)
{
  h1
  {
    font-size: 2.615em;
  }

  h3
  {
    font-size: 1.3em;
  }

  h4
  {
    font-size: 1.5em;
  }
}

h5
{
  margin-bottom: .36923rem;
  font-size: 1.385em;
  font-weight: 600;
}

.button, .button-load, .navMenu_link, h6
{
  margin-bottom: .92308rem;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #fcfbf7;
}

p
{
  font-size: 1em;
}

strong
{
  font-weight: 700;
}

i, em
{
  font-style: italic;
}

hr
{
  border: none;
  height: 1px;
  background-color: #cec9c4; /* Modern Browsers */
}

figcaption
{
  padding: 0;
}

img + figcaption
{
  padding-top: 8px;
  font-size: 1.077em;
  color: #847b79;
}

blockquote
{
  padding-top: 1.84615rem;
  color: #595352;
}

  blockquote > p
  {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.846em;
    font-style: italic;
    line-height: 1.52em;
  }

@media (min-width:25.0625em)and (max-width:65em)
{
  blockquote > p
  {
    width: 85%;
  }
}

@media (min-width:0)and (max-width:25em)
{
  blockquote > p
  {
    width: 95%;
  }
}

.pull-center img, blockquote.pull-left > p, blockquote.pull-right > p, pre
{
  width: 100%;
}

blockquote:before
{
  content: '\201C';
  display: block;
  font-size: 5.1em;
  color: #ccb285;
  text-align: center;
}

blockquote:after
{
  content: '\201D';
  display: block;
  font-size: 5.1em;
  color: #ccb285;
  text-align: center;
}

pre, code
{
  margin: 0 0 1.75em;
  border: 1px solid #cec9c4;
  padding: 10px;
  font-family: "Courier New",Inconsolata,monospace,sans-serif;
  font-size: 1.2em;
  white-space: pre-wrap;
  overflow: auto;
  background: #eeedea;
  border-radius: 3px;
  line-height: 1.4em;
  word-wrap: break-word;
  display: block;
  font-size: 15.6px;
}

/* Sidebar stuff begin: */

.main-wrapper
{
  position: relative;
  min-height: 2500px;
}

.content-wrapper
{
  padding: 0 400px 0 0;
}

.content-sidebar
{
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  padding: 20px 50px 50px 50px;
  font-family: Tahoma, Geneva, sans-serif;
  background-color: rgba(239, 237, 231, 0.46);
  height: 100%;
  font-size: 1.1em;
  border-left: 1px solid #cec9c4;
  letter-spacing: 0.05em;
}

  .content-sidebar h4
  {
    font-size: 1.8em;
  }

  .content-sidebar .fa, .article-open_author_bio .fa
  {
    text-decoration: none;
  }

  .content-sidebar hr
  {
    margin: 0.75rem 0 2.3rem;
  }

  .content-sidebar li
  {
    line-height: 1.4em;
    margin-bottom: 10px;
  }

  .content-sidebar ol, .content-sidebar ul
  {
    padding-bottom: 1.6rem;
  }

/* hide sidebar on non-desktop devices */
@media (max-width: 1230px)
{
  .content-wrapper
  {
    padding: 0;
  }

  .content-sidebar
  {
    display: none;
  }

  .main-wrapper
  {
    min-height: 0;
  }
}

.content-sidebar a
{
  color: #AE915D;
  text-decoration: underline;
}

.sidebar-featured
{
  border-bottom: 1px solid #cec9c4;
  padding-bottom: 10px;
  margin-top: 30px;
}

.content-sidebar div.sidebar-featured:last-child
{
    border: none;
}

.sidebar-featured-header
{
  margin-bottom: 15px;
}

.sidebar-featured-item a
{
  display: block;
  border-top: #eeedea 1px solid;
  padding: 15px 0;
  color: #403d34;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.15em;
  font-weight: bold;
}

  .sidebar-featured-item a:hover
  {
    color: #ccb285;
  }

/* Sidebar stuff end. */


.article_readNext:after, .article_readNext:before, .container:after, .container:before, .wrap:after, .wrap:before
{
  content: "\0020";
  overflow: hidden;
}

.article .post_info, .article_readNext_story .post:before, .post_info
{
  font-family: Tahoma, Geneva, sans-serif;
}

pre > code
{
  font-size: inherit;
  white-space: pre-wrap;
  background: 0 0;
  border: none;
  padding: 0;
}

.article .article_text > p:first-child:first-letter
{
  float: left;
  font-size: 4em;
  margin-top: 14px;
  margin-right: 5px;
}

@media (min-width:25.0625em)and (max-width:45em)
{
  .article .article_text > p:first-child:first-letter
  {
    margin-top: 16px;
  }
}

.article_text .button, .article_text .button-load, .article_text .navMenu_link, .article_text h1, .article_text h2, .article_text h3, .article_text h4, .article_text h5, .article_text h6
{
  margin-top: 1.84615rem;
  margin-bottom: .55385rem;
}

.article_text > p, .article_text > div p, th, td
{
  padding-bottom: 1.92308rem;
  font-size: 1.4em;
  line-height: 1.7em;
  color: #595352;
}

th, td
{
  padding: 0.7rem;
  border-bottom: 1px solid #CCC;
}

@media (min-width:25.0625em)and (max-width:45em)
{
  .article_text > p
  {
    font-size: 1.231em;
  }
}

.article_text > p.intro
{
  margin-bottom: 1.84615rem;
  font-size: 1.846em;
  line-height: 1.5em;
}

.article_text ol > li, .article_text ul > li
{
  font-size: 1.385em;
  line-height: 1.7em;
}

  .article_text ol > li li, .article_text ul > li li /* Why does this feel so hacky??? */
  {
    font-size: 1em;
  }

.article_text li > ol, article_text li > ul
{
  padding-bottom: 0;
}

.article_text p > a.article_link-more, .article_text p > a.imageLink
{
  border: none;
  text-decoration: none !important;
}

.button-load, .caption
{
  border: 1px solid #cec9c4;
}

.article_text ol, .article_text ul
{
  padding-bottom: 1.92308rem;
  padding-left: 40px;
  color: #595352;
}

@media (min-width:0)and (max-width:45em)
{
  .article_text ol, .article_text ul
  {
    padding-left: 25px;
  }
}

.article_text ol > li
{
  list-style-type: decimal;
}

.article_text ul > li:before
{
  content: "\002022";
  color: #ccb285;
  padding-right: .5em;
}

.article_text ul > li ul
{
  padding-top: .92308rem;
  padding-bottom: .92308rem;
  padding-left: 25px;
}

  .article_text ul > li ul li
  {
    font-size: 1em;
    line-height: 1em;
  }

.caption
{
  padding: 30px;
  font-size: 1.077em;
  line-height: 1.9em;
  color: #847b79;
}

.pull-left, .pull-right
{
  display: block;
  float: right;
  max-width: 300px;
  margin: 15px -20% 15px 40px;
}

  .pull-left img, .pull-right img
  {
    max-height: 300px;
  }

@media (min-width:45.0625em)and (max-width:65em)
{
  .pull-left, .pull-right
  {
    max-width: 250px;
    margin-right: -10%;
  }
}

@media (min-width:0)and (max-width:45em)
{
  .pull-left, .pull-right
  {
    float: none;
    max-width: 100%;
    margin: 0 0 .92308rem;
    text-align: center;
  }
}

.pull-left
{
  float: left;
  margin: 15px 40px 15px -20%;
}

@media (min-width:45.0625em)and (max-width:65em)
{
  .pull-left
  {
    margin-left: -10%;
  }
}

@media (min-width:0)and (max-width:45em)
{
  .pull-left
  {
    float: none;
    margin: 0 0 .92308rem;
  }
}

.pull-center
{
  padding-top: 1.84615rem;
  padding-bottom: 1.84615rem;
  margin: 0 -20%;
}

@media (min-width:45.0625em)and (max-width:65em)
{
  .pull-center
  {
    margin: 0 -10%;
  }
}

@media (min-width:0)and (max-width:45em)
{
  .pull-center
  {
    margin: auto;
  }
}

*, :after, :before
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container
{
  zoom: 1;
  float: none;
  display: block;
  margin: 0;
  z-index: 0;
}

  .container:after, .container:before
  {
    display: block;
    height: 0;
  }

.container
{
  padding-right: 5%;
  padding-left: 5%;
}

.wrap
{
  zoom: 1;
  float: none;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:65.0625em)and (max-width:90em)
{
  .wrap
  {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width:45.0625em)and (max-width:65em)
{
  .wrap
  {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width:25.0625em)and (max-width:45em)
{
  .wrap
  {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width:0)and (max-width:25em)
{
  .wrap
  {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.wrap:after, .wrap:before
{
  display: block;
  height: 0;
}

@media (min-width:0)and (max-width:65em)
{
  .wrap
  {
    zoom: 1;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

    .wrap:after, .wrap:before
    {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden;
    }

    .wrap:after
    {
      clear: both;
    }
}

.col-1, .col-2, .col-3
{
  margin-left: 0;
  margin-right: 0;
  float: left;
}

.col-3
{
  width: 33.33333%;
}

@media (min-width:65.0625em)and (max-width:90em)
{
  .col-3
  {
    float: left;
    width: 33.33333%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width:45.0625em)and (max-width:65em)
{
  .col-3
  {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width:25.0625em)and (max-width:45em)
{
  .col-3
  {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width:0)and (max-width:25em)
{
  .col-3
  {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.col-2
{
  width: 50%;
}

@media (min-width:65.0625em)and (max-width:90em)
{
  .col-2
  {
    float: left;
    width: 50%;
    margin-right: 0;
    margin-left: 0;
  }
}

.col-1
{
  width: 100%;
}

@media (min-width:65.0625em)and (max-width:90em)
{
  .col-1
  {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width:45.0625em)and (max-width:65em)
{
  .col-1, .col-2
  {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width:25.0625em)and (max-width:45em)
{
  .col-1, .col-2
  {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width:0)and (max-width:25em)
{
  .col-1, .col-2
  {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.post
{
  float: none;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:0)and (max-width:65em)
{
  .post
  {
    zoom: 1;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

    .post:after, .post:before
    {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden;
    }

    .post:after
    {
      clear: both;
    }
}

.button, .button-load
{
  padding: 12px 33px;
  color: #fcfbf7;
  background-color: #ccb285;
  letter-spacing: 1.5px;
  -webkit-transition: ease-out .4s;
  -moz-transition: ease-out .4s;
  -o-transition: ease-out .4s;
  transition: ease-out .4s;
}

  .button-load:hover, .button:hover
  {
    background-color: #bd9b61;
  }

.button-load
{
  width: 100%;
  background-color: transparent;
  color: #ccb285;
}

  .button-load:hover
  {
    background-color: #eeedea;
  }

.header
{
  padding-top: 1.84615rem;
  padding-bottom: 1.84615rem;
}

.header_block
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(252,251,247,.2);
  z-index: 99;
  background-color: rgba(0,0,0,.6);
  padding-left: 10%;
  padding-right: 10%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media (min-width:0)and (max-width:21em)
{
  .socialIcons_link.linkedin
  {
    display: none;
  }
}

.post_socialIcons
{
  margin: 1.84615rem 0;
}

  .post_socialIcons .fa
  {
    text-decoration: none;
  }

  .post_socialIcons .socialIcons_link
  {
    width: 30px;
    height: 30px;
    margin: 0 7px;
  }

.header_socialIcons
{
  position: absolute;
  top: 26%;
  right: 0;
}

@media (min-width:0)and (max-width:65em)
{
  .header_socialIcons
  {
    display: none;
  }

  .header_navMenu
  {
    text-align: center;
  }

  .header_block
  {
    padding: 0;
  }
}

/* Can't fit all nav items all the time so kill the last onewhen there's not enough room */
@media (min-width:65em)and (max-width:72em)
{
  .header_navMenu li:last-child
  {
    display: none;
  }
}

.no-cover.header_block
{
  position: relative;
  border-color: rgba(64,61,52,.3);
}

.no-cover, .no-cover
{
  color: #403d34;
}

.no-cover
{
  color: #595352;
}

  .no-cover .header_navMenu_button
  {
    border-color: rgba(64,61,52,.3);
    color: #595352;
  }

.show-menu .no-cover .header_navMenu_button
{
  border-color: rgba(252,251,247,.2);
}

.show-menu .header_navMenu_button
{
  position: fixed;
  left: 10%;
}

@media (min-width:0)and (max-width:45em)
{
  .show-menu .no-cover
  {
    color: #fcfbf7;
  }

  .show-menu .header_navMenu_button
  {
    left: 4px;
  }
}

.socialIcons_link
{
  display: inline-table;
  margin-left: 15px;
  text-align: center;
}

  .socialIcons_link a
  {
    color: #847b79;
    display: block;
    background-color: rgba(252,251,247,.13);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 15px;
    padding-top: 8px;
  }

.post_socialIcons .socialIcons_link a
{
  background-color: #eeedea;
}

.header_socialIcons.light .socialIcons_link a
{
  color: #fcfbf7;
  text-decoration: none;
}

@media (min-width:0)and (max-width:45em)
{
  .header_navMenu
  {
    padding: 2em 0 2em;
    color: #fcfbf7;
  }

  .header_navMenu_wrap
  {
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    position: fixed;
    top: 0;
    left: -100px;
    width: 0;
    height: 100%;
    background-color: rgba(44,42,36,.98);
    opacity: 0;
    z-index: 9;
  }
}

@media (min-width:0)and (max-width:25em)
{
  .header_navMenu_wrap
  {
    text-align: center;
  }
}

.header_navMenu_button
{
  position: absolute;
  left: 3px;
  background: 0 0;
}

  .header_navMenu_button span
  {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    font-size: .846em;
    letter-spacing: .03em;
    z-index: -9;
  }

.close-button
{
  width: 2em;
  height: 1em;
  position: absolute;
  right: .3em;
  top: .8em;
  overflow: hidden;
  text-indent: 1em;
  border: none;
  background: 0 0;
  opacity: .2;
}

  .close-button:hover
  {
    opacity: .5;
  }

@media (min-width:0)and (max-width:45em)
{
  .navMenu_link
  {
    -moz-transition-duration: .1s;
    -o-transition-duration: .1s;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    margin-bottom: .55385rem;
    font-size: 1.077em;
    display: block;
    opacity: 0;
  }
}

.navMenu_list
{
  padding: 0 1.1em 1em;
  display: inline;
}

.show-menu .header_navMenu_wrap
{
  opacity: 1;
  width: 32em;
  left: 0;
}

.show-menu .no-cover .header_navMenu_button span
{
  color: #fcfbf7;
}

.show-menu .navMenu_link
{
  opacity: 1;
}

.article
{
  max-width: 1050px;
  margin: 0 auto;
}

  .article.container
  {
    border-bottom: 1px solid #cec9c4;
  }

    .article.container:last-child
    {
      border-bottom: none;
    }

.post_header
{
  background-image: url(/assets/img/page-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: 100% 15%;
  height: 500px;
}

.article-open, .article_feature_first-img, .profile
{
  zoom: 1;
  float: none;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
}

.article_feature_first-img
{
  background-color: #000000;
}

  .article-open:after, .article-open:before, .article_feature_first-img:after, .article_feature_first-img:before, .profile:after, .profile:before
  {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

.article-open
{
  height: 500px;
}

  .article-open.no-cover
  {
    height: auto;
  }

.article_content, .page article.article
{
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

  .article_content .post_tag
  {
    padding: 1rem 0 1.92308rem 0;
    position: relative;
    text-align: center;
  }

@media (min-width:0)and (max-width:45em)
{
  .navMenu_link
  {
    font-size: 1.385em;
  }

  .show-menu .header_navMenu_wrap
  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .article-open.no-cover, .article_feature_first-img.no-cover, .profile.no-cover
  {
    height: auto;
  }
}

.article_content .post_tag .tag
{
  display: inline-block;
  color: #847b79;
  border: none;
  background-color: #eeedea;
}

@media (min-width:0)and (max-width:65em)
{
  .article_content .post_tag .tag
  {
    padding: 7px 10px;
  }
}

.article-open_item, .article_item_first, .profile_item
{
  left: 0;
  right: 0;
  margin: auto;
  color: #fcfbf7;
  z-index: 9;
}

.article_item_first
{
  padding-top: 250px;
  padding-bottom: 60px;
}

.article_feature_first-img .article_item_first
{
  text-shadow: 0 0 15px #3C3C3C;
}

.no-cover .article-open_item
{
  position: relative;
  top: auto;
  margin-top: 60px;
}

@media (min-width:0)and (max-width:45em)
{
  .article_item_first
  {
    padding-top: 220px;
    padding-bottom: 100px;
  }

  .post_header
  {
    height: 400px;
  }

  .article_feature_first-img
  {
    background-position: 40% 0%;
    background-size: 880px 469px;
  }
}

@media (max-width: 25em) and (min-width: 0)
{
  .post_header
  {
    height: 300px;
  }
}

.article_readNext_story:before, .hover:after
{
  position: absolute;
  background-size: 100%;
  bottom: 0;
}

.article-open_item .post_head, .article_item_first .post_head, .profile_item .post_head, .tags_item .post_head
{
  padding-bottom: 0;
  padding-left: 5%;
  padding-right: 5%;
}

.article-open_item .post_tag, .article-open_item .post_text, .article_item_first .post_tag, .article_item_first .post_text, .profile_item .post_tag, .profile_item .post_text, .tags_item .post_tag, .tags_item .post_text
{
  text-align: center;
}

  .article-open_item .post_tag .tag, .article_item_first .post_tag .tag, .profile_item .post_tag .tag, .tags_item .post_tag .tag
  {
    display: inline-block;
    margin: 10px;
  }

@media (min-width:0)and (max-width:45em)
{
  .article-open_item .post_tag, .article_item_first .post_tag, .profile_item .post_tag, .tags_item .post_tag
  {
    padding-top: 0;
  }

    .article-open_item .post_tag .tag, .article_item_first .post_tag .tag, .profile_item .post_tag .tag, .tags_item .post_tag .tag
    {
      margin: 7px 5px;
      padding: 5px 10px;
    }
}

.article_link-more
{
  border: none;
  color: #ccb285;
  margin-left: 0.2em;
  text-decoration: none;
}

.article_readNext
{
  zoom: 1;
  float: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #cec9c4;
  background-color: #eeedea;
}

  .article_readNext a
  {
    color: #847b79;
  }

  .article_readNext .no-post, .article_readNext_story .post
  {
    display: inline-block;
    padding-top: 1.84615rem;
    padding-bottom: 1.84615rem;
  }

  .article_readNext:after, .article_readNext:before
  {
    display: block;
    height: 0;
  }

.article_readNext_story
{
  position: relative;
}

  .article_readNext_story:first-child
  {
    text-align: right;
  }

  .article_readNext_story:last-child
  {
    text-align: left;
  }

@media (min-width:0)and (max-width:65em)
{
  .article_readNext_story
  {
    height: inherit;
  }

    .article_readNext_story:first-child, .article_readNext_story:last-child
    {
      text-align: left;
    }
}

.article_readNext_story:first-child .post
{
  margin: 0 10% 0 25%;
  text-align: right;
}

.article_readNext_story:last-child .post
{
  margin: 0 25% 0 10%;
  text-align: left;
}

@media (min-width:0)and (max-width:65em)
{
  .article_readNext
  {
    display: none;
  }
}

.footer_subscription, .pagination_pages, .post_head, .profile_item, .tags_item
{
  text-align: center;
}

.article_readNext_story .post
{
  width: initial;
}

@media (min-width:0)and (max-width:65em)
{
  .article_readNext_story .post
  {
    margin: 1% 25% 0 10%;
  }
}

.article_readNext_story .post:before
{
  content: "Next Post:";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: .1em;
  color: #847b79;
}

.article_readNext_story.prev .post:before
{
  content: "Prev Post:";
}

.article_readNext .no-post
{
  width: initial;
  margin: 3% 0 0 10%;
}

@media (min-width:0)and (max-width:65em)
{
  .article_readNext .no-post
  {
    margin: 0 0 0 10%;
  }
}

.article_readNext .no-post:before
{
  display: none;
}

.article_readNext .prev .no-post
{
  margin: 3% 10% 0 0;
}

@media (min-width:0)and (max-width:65em)
{
  .article_readNext .prev .no-post
  {
    margin: 0 0 0 10%;
  }
}

.article_readNext h4
{
  margin: 0;
  font-style: italic;
  line-height: 1.2em;
  padding-bottom: 5px;
  margin-top: 10px;
}

.hover:after
{
  content: "\0020";
  top: 0;
  right: 0;
  left: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMmEyNCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYzJhMjQiIHN0b3Atb3BhY2l0eT0iMC42Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,rgba(44,42,36,.2)),color-stop(100%,rgba(44,42,36,.6)));
  background-image: -moz-linear-gradient(top,rgba(44,42,36,.2)0,rgba(44,42,36,.6)100%);
  background-image: -webkit-linear-gradient(top,rgba(44,42,36,.2)0,rgba(44,42,36,.6)100%);
  background-image: linear-gradient(to bottom,rgba(44,42,36,.2)0,rgba(44,42,36,.6)100%);
}

.footer, .footer_info, .no-cover .hover:after, .pagination_content, .pagination_pages
{
  position: relative;
}

.post_head
{
  padding-bottom: 4.06154rem;
}

.post_title
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.post_text
{
  font-size: 1.231em;
  line-height: 1.7em;
}

  .post_text.blog_description
  {
    font-size: 1.8em;
    line-height: 1.5em;
    max-width: 65%;
    margin: 0 auto;
  }

@media (min-width:65.0625em)and (max-width:90em)
{
  .post_text
  {
    font-size: 1.154em;
  }
}

@media (min-width:0)and (max-width:45em)
{
  .post_head
  {
    padding-bottom: 1.84615rem;
  }

  .post_text
  {
    display: none;
  }
}

@media (min-width:0)and (max-width:65em)
{
  .post_text.blog_description
  {
    max-width: 85%;
  }
}

.article .post_info, .post_info
{
  font-size: .923em;
  text-transform: uppercase;
  color: #cec9c4;
}

  .article .post_info a, .post_info a
  {
    color: #ccb285;
    border-bottom: 1px solid;
  }

  .article .post_info span, .post_info span
  {
    font-family: Vollkorn,Helvetica,Arial,sans-serif;
    font-style: italic;
    text-transform: none;
  }

.article-open_shere a, .pagination_next, .pagination_prev, .tag
{
  font-family: Tahoma, Geneva, sans-serif;
}

.article-open_shere .fa
{
  font-size: 16px;
}

.tag
{
  padding: 7px 12px;
  margin: 5px 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #fcfbf7;
  border: 1px solid rgba(252,251,247,.5);
  border-radius: 15px;
}

.article-open_tag .tag, .no-cover .tag
{
  background-color: #eeedea;
  border: none;
}

.article .post_info
{
  color: #595352;
}

.article .post_title a
{
  color: #403d34;
  text-decoration: none;
}

.article-open, .profile
{
  background-repeat: no-repeat;
  background-position: 100% 20%;
  background-size: cover;
}

.article-open_item, .profile_item, .tags_item
{
  z-index: 9;
}

.article-open_content
{
  padding-top: 4.61538rem;
  padding-bottom: 2rem;
  max-width: 1050px;
  margin: 0 auto;
}

.article-open_author, .article-open_shere
{
  border-bottom: 2px solid #eeedea;
}

.article-open_shere
{
  text-align: center;
  padding: 10px 0;
}

.article-open_content .article_text
{
  border-bottom: 2px solid #eeedea;
  padding-bottom: 8%;
}

.article_text iframe
{
  padding-bottom: 1.92308rem;
}

.article-open_shere a
{
  margin: 1.2rem 10px;
  display: inline-block;
  padding: 12px 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: 20px;
  text-decoration: none;
  color: #fcfbf7;
}

@media (min-width:0)and (max-width:55em)
{
  .tag
  {
    font-size: .923em;
  }

  .article-open_shere a
  {
    margin: 10px;
  }
}

@media (min-width:0)and (max-width:40em)
{
  .article-open_shere a
  {
    padding: 9px 16px;
    margin: 5px;
    border-radius: 16px;
  }
}

.article-open_shere-facebook
{
  background-color: #3b5998;
}

.article-open_shere-google
{
  background-color: #d94734;
}

.article-open_shere-email
{
  background-color: #97908F;
}

.article-open_shere-linkedin
{
  background-color: #4875B4;
}

.article-open_shere-twitter
{
  background-color: #55acee;
}

.article-open_shere-feed
{
  background-color: #dd7346;
}

.article-open_author
{
  padding: 1.84615rem 0;
  display: inline-block;
  width: 100%;
}

.article-open_author_image, .profile_image
{
  display: table-cell;
  padding: 4px;
  background-color: #fcfbf7;
  border-radius: 100%;
}

@media (min-width:45.0625em)and (max-width:65em)
{
  .article-open_author_image, .profile_image
  {
    margin: 15px 40px 20px 0;
  }
}

@media (min-width:0)and (max-width:45em)
{
  .article-open_author_image, .profile_image
  {
    margin-bottom: 1.84615rem;
    float: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}

.article-open_author_image .img, .profile_image .img
{
  position: relative;
  display: block;
  width: 106px;
  height: 106px;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
}

.article-open_author_bio
{
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

@media (min-width:0)and (max-width:45em)
{
  .article-open_author_bio
  {
    padding: 0;
  }
}

.article-open_author_bio a
{
  color: #ccb285;
}

.article-open_author p
{
  padding-bottom: .92308rem;
  font-size: 1.231em;
  color: #595352;
}

.article-open_author_meta
{
  margin-right: 40px;
  font-size: 1.231em;
  color: #847b79;
}

@media (min-width:0)and (max-width:45em)
{
  .article-open_author_meta
  {
    padding-bottom: .92308rem;
    display: block;
  }
}

.article-open_tag
{
  padding-top: 1.84615rem;
  padding-bottom: 1.84615rem;
  text-align: center;
}

  .article-open_tag .button, .article-open_tag .button-load, .article-open_tag .navMenu_link, .article-open_tag h6
  {
    display: inline-block;
    margin-right: 30px;
  }

  .article-open_tag .tag
  {
    display: inline-block;
    color: #847b79;
    padding: 8px 15px;
    text-decoration: none;
  }

@media (min-width:0)and (max-width:45em)
{
  .article-open_tag .tag
  {
    margin: 0 10px 10px 0;
    padding: 7px 10px;
  }
}

.no-cover .article-open_item, .no-cover .profile_item, .no-cover .tags_item
{
  bottom: 0;
}

.no-cover .post_head
{
  color: #403d34;
}

.no-cover .post_info, .no-cover .tag, .no-cover.article_readNext_story, .no-cover.article_readNext_story .post:before
{
  color: #847b79;
}

@media (min-width:0)and (max-width:65em)
{
  .no-cover .post_tag .tag
  {
    padding: 7px 10px;
  }
}

.no-cover.article_readNext_story:before
{
  background: 0 0;
}

.pages, .tags
{
  background-size: cover;
  background-repeat: no-repeat;
}

.pagination, .tags_item
{
  padding-top: 1.84615rem;
  padding-bottom: 1.84615rem;
  background-color: #eeedea;
  border-bottom: 1px solid #cec9c4;
  border-top: 1px solid #cec9c4;
}

.tags_item
{
  padding-top: 6.84615rem;
}

.extra-pagination .pagination
{
  padding-top: 9.84615rem;
}

.pagination_next, .pagination_prev
{
  display: inline-block;
  float: left;
  margin-left: 35px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2em;
  color: #847b79;
  text-decoration: none;
}

  .pagination_next:hover, .pagination_prev:hover
  {
    color: #595352;
    border-color: #847b79;
  }

.pagination_prev
{
  float: right;
  margin-left: 0;
  margin-right: 20px;
  text-decoration: none;
}

  .pagination_prev.fa, .pagination_next.fa
  {
    margin-top: 6px;
    border: none;
    color: #cec9c4;
    font-size: 1.5em;
  }

.pagination_pages
{
  left: 0;
  right: 0;
  width: 170px;
  margin: auto;
  font-size: 1.385em;
  font-style: italic;
  line-height: 1.5em;
  color: #847b79;
}

.profile_bio, .tags_description
{
  font-size: 1.231em;
}

  .tags_description p
  {
    padding-bottom: 0;
  }

.extra-pagination, .tags
{
  display: none;
}

.archive-template .extra-pagination, .tags
{
  display: block;
}

.no-cover .tags_head
{
  color: #403d34;
}

.pages
{
  height: 500px;
}

  .pages.no-cover
  {
    height: 270px;
  }

@media (min-width:0)and (max-width:45em)
{
  .pagination
  {
    text-align: center;
  }

  .pagination_pages
  {
    padding-top: 3.69231rem;
  }

  .profile
  {
    height: 700px;
  }
}

.profile_image
{
  margin-bottom: 1.84615rem;
  float: none;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.footer_informations_block
{
  padding-left: 10%;
  padding-right: 10%;
}

.footer_subscription_block
{
  background-color: #2f2d26;
  padding-left: 10%;
  padding-right: 10%;
}

.footer_info_block, .footer_informations_block
{
  background-color: #2c2a24;
}

.footer_info_block
{
  border-top: 1px solid #322f29;
  padding-left: 10%;
  padding-right: 10%;
}

.footer_subscription_formGroup
{
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: inline-block;
  width: 100%;
  color: #fcfbf7;
  font-size: 1.8em;
}

footer a
{
  text-decoration: none;
}

.footer_subscription_formGroup h4
{
  font-style: italic;
  color: #ccb285;
  margin-bottom: 1rem;
}


.footer_subscription_formGroup p
{
  padding: 0;
}

.footer_subscription_formGroup svg
{
  width: 57px;
  height: 15px;
}

.footer_informations
{
  padding-top: 4rem;
  padding-bottom: 2rem;
}

  .footer_informations p
  {
    font-size: 1.077em;
    color: #cec9c4;
  }

  .footer_informations .button, .footer_informations .button-load, .footer_informations .navMenu_link, .footer_informations h6
  {
    color: #ccb285;
  }

@media (min-width:0)and (max-width:48em)
{
  .footer_subscription_formGroup
  {
    font-size: 1.3em;
  }

    .footer_subscription_formGroup svg
    {
      width: 46px;
      height: 12px;
    }
}

.footer_information-2
{
  padding: 0 48px;
}

@media (min-width:0)and (max-width:65em)
{
  .footer_information-2
  {
    padding: 0;
  }
}

.footer_information-3
{
  padding-left: 96px;
}

@media (min-width:0)and (max-width:65em)
{
  .footer_information-3
  {
    padding: 0;
  }
}

.footer_info
{
  padding-top: 1.84615rem;
  padding-bottom: 1.84615rem;
}

.footer_socialIcons
{
  top: 27%;
  opacity: .6;
  text-align: center;
}

  .footer_socialIcons a
  {
    color: #ffffff;
  }

  .footer_socialIcons li
  {
    margin: 0 8px;
  }

@media (min-width:0)and (max-width:25em)
{
  .footer_socialIcons li
  {
    margin: 0 4px;
  }
}

.i-menu
{
  display: none;
}

@media (min-width:0)and (max-width:45em)
{
  .header
  {
    padding: 0;
    height: 64px;
  }

  .i-menu
  {
    display: block;
    height: 0;
    z-index: 100;
    height: 44px;
    margin-top: -8px;
  }

  .header
  {
    height: 44px;
  }
}

.i-menu:after, .i-menu:before
{
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  content: "";
  display: block;
  left: 0;
  top: 0;
  height: 4px;
}

.i-menu:before
{
  width: 30px;
  background-color: #fcfbf7;
}

.i-menu:after
{
  box-shadow: 0 6px 0 0 #fcfbf7,0 16px 0 0 #fcfbf7;
}

.no-cover .i-menu:before
{
  background-color: #595352;
}

.no-cover .i-menu:after
{
  box-shadow: 0 6px 0 0 #595352,0 16px 0 0 #595352;
}

.show-menu .i-menu:after, .show-menu .i-menu:before
{
  content: "";
  display: block;
  box-shadow: 0 8px 0 0 #fcfbf7;
  background-color: transparent;
  transform: translate(-18%,100%)rotate(-45deg);
}

.show-menu .i-menu:after
{
  left: 0;
  top: 0;
  box-shadow: 0 8px 0 0 #fcfbf7;
  transform: translate(18%,0)rotate(45deg);
}

/* Troy's custom bits */

#ad1, #ad3, #ad4
{
  background-color: #D2D2D2;
}

#ad1
{
  margin: 18px 0 38px;
  width: 300px;
  height: 250px;
}

#ad2 div
{
  margin: 0 auto;
  width: 160px;
  height: 600px;
}

#ad3
{
  height: 90px;
  width: 728px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #cec9c4;
  display: block;
}

  #ad3 iframe, #ad4 iframe
  {
    padding: 0;
  }

#ad4
{
  display: none;
}

#ad4
{
  margin: 0 auto;
  width: 300px;
  height: 250px;
}

.footer-ad
{
  padding-top: 5%;
}

#disqus_thread
{
  padding-top: 1.84615rem;
}

iframe.twitter-tweet
{
  margin-bottom: 2.5rem !important;
}

/* Banner ad has to go when the page is too narrow */
@media (min-width:0)and (max-width:53em)
{
  #ad3
  {
    display: none;
  }

  #ad4
  {
    display: block;
  }
}

@media (min-width:0)and (max-width:24em)
{
  #ad4
  {
    display: none;
  }
}


.pluralsight-content
{
  margin: 0 0 1.75em;
  border: 1px solid #cec9c4;
  padding: 10px;
  font-size: 2em;
  background: #eeedea;
  border-radius: 3px;
  line-height: 1.5em;
}

  .pluralsight-content a img
  {
    width: 350px !important;
    height: 76px !important;
    margin-top: 10px;
  }

/* Sponsorship */

.message_of_support
{
  top: 65px;
  background-color: rgba(174,145,93,.90);
  padding: 10px 10%;
  font-family: Tahoma, Geneva, sans-serif;
  position: absolute;
  z-index: 1;
  width: 100%;
}

  .message_of_support a
  {
    text-decoration: none;
    color: #000;
  }

  .message_of_support p
  {
    padding: 0 1.1em;
  }

#message_contents .fa-spin
{
  font-size: 1.2em;
  color: #745d2f;
}

#message_contents .fa-external-link
{
  color: #745d2f;
}

@media (max-width: 65em) and (min-width: 0)
{
  .message_of_support
  {
    padding-left: 5%;
    padding-right: 5%;
  }

    .message_of_support p
    {
      padding: 0;
    }
}

@media (max-width: 45em) and (min-width: 0)
{
  .message_of_support
  {
    top: 45px;
  }
}
